<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ben - $title$</title>
        <meta charset="utf-8">
        <title>Your page title here :)</title>
        <meta name="description" content="">
        <meta name="author" content="">
    
        <meta name="viewport" content="width=device-width, initial-scale=1">
    
        <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">
    
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/skeleton.css">
    </head>
    <body>
        <div class="container">
            <div id="header">
                <div id="logo">
                    <a>Ben Eggers</a>
                </div>
                <div id="navigation">
                    <a href="/">Home</a>
                    <a href="/connect.html">Connect</a>
                </div>
            </div>
            <div id="content">
                <h1>$title$</h1>
                $body$
            </div>
            <div id="footer">
                <div class="box">
                        Built with <a href="http://jaspervdj.be/hakyll/">Hakyll</a>, <a href="http://getskeleton.com/">Skeleton</a>, and &hearts;
                </div>
            </div>
        </div>
    </body>
</html>
