<?xml version="1.0" encoding="UTF-8"?>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Ben - $title$</title>
        <link rel="stylesheet" type="text/css" href="/css/default.css" />
    </head>
    <body>
        <div id="wrapper">
            <div id="header">
                <div id="logo">
                    <a>Ben Eggers</a>
                </div>
                <div id="navigation">
                    <a href="/">Home</a>
                    <a href="/connect.html">Connect</a>
                    <a href="typewriter.html">Typewriter</a>
                </div>
            </div>
            <div id="content">
                <h1>$title$</h1>
                $body$
            </div>
            <div id="footer">
                <div class="box">
                    This site was built using <a href="http://jaspervdj.be/hakyll/">Hakyll</a>, an awesome static site generator for Haskell.
                </div>
            </div>
        </div>
    </body>
</html>
